
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: "{{ name }}"
spec:
  pollingInterval: 10                              # Optional. Default: 30 seconds
  cooldownPeriod: 180                              # Optional. Default: 300 seconds
  minReplicaCount: 1                                # Optional. Default: 0
  maxReplicaCount: {{ maxReplicaCount }}                  # Optional. Default: 100
  idleReplicaCount: 0
  scaleTargetRef:
    name: "{{ scaled_target }}"
  triggers:
    - type: gcp-pubsub
      authenticationRef:
        name: keda-auth
      metadata:
        subscriptionName : "{{ subscriptionName }}"
  advanced: # Optional. Section to specify advanced options
    #restoreToOriginalReplicaCount: true/false        # Optional. Default: false
    horizontalPodAutoscalerConfig: # Optional. Section to specify HPA related options
      #name: { name-of-hpa-resource }                   # Optional. Default: keda-hpa-{scaled-object-name}
      behavior: # Optional. Use to modify HPA's scaling behavior
        scaleUp:
          stabilizationWindowSeconds: 20
          policies:
            - type: Pods
              value: 1
              periodSeconds: 40
        scaleDown:
          stabilizationWindowSeconds: 180
          policies:
            - type: Pods
              value: 5
              periodSeconds: 60